name: DVC Data Report Workflow
on:
  workflow_dispatch:
  push:
    branches: [ master ]
    paths:
      - '**/*.dvc'
      - '.dvc/**'
      - 'src/example_mlops/data.py'
  pull_request:
    branches: [ master ]
    paths:
      - '**/*.dvc'
      - '.dvc/**'
      - 'src/example_mlops/data.py'

permissions:
  contents: read
  pull-requests: write
  issues: write

jobs:
  data_report:
    name: Generate Data Stats
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: write

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Install uv
        uses: astral-sh/setup-uv@v3
        with:
          enable-cache: true
          cache-dependency-paths: |
            **/pyproject.toml
            **/uv.lock

      - name: Install dependencies
        run: uv sync --locked

      # 1. Authenticate with Google Cloud
      - name: Google Cloud Auth
        uses: google-github-actions/auth@v2
        with:
          credentials_json: ${{ secrets.GCP_SA_KEY }}

      # 2. Setup DVC and Pull Data from GCS
      - name: DVC Pull
        run: uv run dvc pull --no-run-cache

      # 3. Run Analysis and Prepare Report
      - name: Check data statistics & generate report
        run: |
          # Ensure output directory exists
          mkdir -p src/outputs/cml

          # Run dataset_statistics directly
          uv run python src/mlopsproj/data.py dataset_statistics --datadir data/ --output_dir src/outputs/cml

      # 4. Setup CML
      - name: Setup CML
        uses: iterative/setup-cml@v2

      # 5. Post report with CML
      - name: Comment on PR
        env:
          REPO_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          # Move into the folder where images and md live
          cd src/outputs/cml

          # Post the report (CML will automatically embed images if paths are relative)
          cml-comment --file data_statistics.md --watermark-title "Data Checker Report"
